---
import { Icon } from 'astro-icon/components'
---

<div class='block lg:hidden'>
  <button id='menu' aria-label='Toggle Menu'>
    <Icon name='menu-deep' size='24' class='navmenu-toggle text-eden-800 hover:text-jungle-green-600' />
    <Icon name='menu-center' size='24' class='navmenu-toggle hidden text-eden-800 hover:text-jungle-green-600' />
  </button>
</div>
