---
import { Icon } from "astro-icon/components";
---

<div class="absolute -left-28 bottom-60 hidden text-pale-leaf-200/20 md:block">
  <Icon name="bg-element-01" size={351} />
</div>
<div class="absolute -right-28 top-20 text-pale-leaf-200/20 hidden md:block">
  <Icon name="bg-element-02" size={351} />
</div>
