---
//  =====================  DEPENDENCIAS  ===========================
import { Image } from 'astro:assets'

//  =====================  COMPONENTES  ============================
import ButtonPrimario from '@utils/ButtonPrimario.astro'
import ButtonSecundario from '@utils/ButtonSecundario.astro'
import ContainerSection from '@ui/ContainerSection.astro'
import HeroBackground from '@ui/HeroBackground.astro'

//  =====================  ASSETS  =================================
import imageHandshake from '@images/handshake.jpg'
---

<section id='Inicio' class='relative overflow-hidden bg-loafer-100 pt-10 md:pt-24'>
  <HeroBackground />
  <ContainerSection>
    <div class='relative mx-auto max-w-screen-xl'>
      <h1 class='mx-auto max-w-4xl py-6 text-center text-4xl font-bold text-eden-800 md:text-6xl'>
        Coaching para emprendedores
      </h1>
      <p class='mx-auto max-w-3xl py-6 text-center text-2xl font-semibold md:text-4xl leading-normal text-eden-800'>
        🚀 De Emprendedor a Empresario 🚀
      </p>
      <p class='mx-auto max-w-3xl py-3 text-center text-xl leading-normal text-eden-800'>
        Acompañamiento personalizado para emprendedores que buscan transformar su idea en un negocio rentable.
      </p>
      <div class='m-auto flex flex-wrap justify-center gap-4 text-center mt-4'>
        <ButtonPrimario href='#' texto='Reserva 1º Cita' />
        <ButtonSecundario href='#' texto='WhatsApp' />
      </div>
      <figure class='mx-auto mt-16 flex max-w-5xl rounded-tr-lg justify-center sm:mt-20 sm:px-10'>
        <Image
          src={imageHandshake}
          alt='Handshake'
          class={'rounded-t-full'}
          width={1500}
          height={1500}
          loading='lazy'
        />
      </figure>
    </div>
  </ContainerSection>
</section>
