---
import Header from "@components/Header.astro";
import Themes from "astro-themes";
import "@styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <Themes defaultTheme="dark" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Coaching para emprendedores | Profesionaliza tu negocio</title>
  </head>
  <body
    class="flex min-h-full flex-col font-sans antialiased bg-white text-eden-800 appearance-none"
  >
    <Header />
    <slot />
  </body>
</html>

<!-- <style is:global>
  root: {
    --background-color: #ffffff;
    --text-primary: #00ac8a;
    --text-primary-strong: #115e59;
    --text-primary-medium: #a1b58f;
    --text-primary-accent: #cdddc0;
  }

  [data-theme="light"] {
    --background-color: white;
    --text-color: var(--text-primary-strong);
  }

  [data-theme="dark"] {
    --background-color: white;
    --text-color: var(--text-primary-strong);
  }
</style> -->
