---

---

<div class="hidden lg:flex">
  <button
    onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))"
  >
    Light
  </button>
  <button
    onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))"
  >
    Dark
  </button>
  <button
    onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: null }))"
  >
    Clear theme
  </button>
</div>
