---
//  =====================  DEPENDENCIAS  ===========================
import { Icon } from 'astro-icon/components'

//  =====================  INTERFACES  =============================
interface CardIconoTituloDescripcionProps {
  icono: string
  titulo: string
  descripcion: string
}

const { icono, titulo = 'Titulo', descripcion = 'Descripcion' } = Astro.props
---

<div class='flex flex-wrap justify-center gap-4 sm:flex-nowrap sm:justify-start sm:gap-8'>
  <div class='flex items-center'>
    <div class='flex size-28 items-center justify-center rounded-full bg-loafer-100 text-jungle-green-600'>
      <Icon name={icono} class='size-16 text-jungle-green-600' />
    </div>
  </div>
  <div class='text-center md:text-start'>
    <h3 class='text-2xl font-semibold text-eden-800'>{titulo}</h3>
    <p class='pt-2 text-eden-800'>{descripcion}</p>
  </div>
</div>
